body{
    background: rgb(243,249,255) !important;
    background: radial-gradient(circle, rgba(243,249,255,1) 0%, rgba(148,187,233,1) 100%) !important;  
}

.size1{
    text-align: center;
}

.size2{
    text-align: center;
    margin-top: 2%;
}

.space{
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
}