<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Consultorio Médico en Línea</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Salir</a>
          </li>
        </ul>
      </div>
      </form>
    </div>
  </nav>

<div class="d-flex justify-content-evenly contenedor">
    <div class="card cards" style="width: 18rem;">
        <img src="../../../assets/form.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Añadir Pacientes</h5>
          <a href="/addpatient" class="btn btn-primary">Aceptar</a>
        </div>
    </div>

    <div class="card cards" style="width: 18rem;">
        <img src="../../../assets/cons.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Generar consulta</h5>
          <a routerLink="/signos" class="btn btn-primary">Aceptar</a>
        </div>
    </div>

    <div class="card cards" style="width: 18rem;">
        <img src="../../../assets/folder.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Expedientes Clínicos</h5>
          <a routerLink="/expedientes" class="btn btn-primary">Aceptar</a>
        </div>
    </div>
</div>