<div class="container2">
    <h1>Expediente Médico</h1>
</div>

<div class="container1">
    <form class="needs-validation" novalidate #frmPatient="ngForm" (ngSubmit)="onAddPatient(frmPatient)">
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" name="name" required ngModel>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="lastName" class="form-label">Ocupación</label>
                <input type="text" class="form-control" name="ocupa" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="lastName" class="form-label">Lugar de nacimiento</label>
                <input type="text" class="form-control" name="lNac"required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="lastName" class="form-label">Nacionalidad</label>
                <input type="text" class="form-control" name="nac" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="Alimentación" class="form-label">Alimentación</label>
                <select class="form-select" name="alim" required ngModel>
                    <option value=""></option>
                    <option value="Buena">Buena</option>
                    <option value="Regular">Regular</option>
                    <option value="Mala">Mala</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="country" class="form-label">Hábitos</label>
                <select class="form-select" name="habitos" required ngModel>
                    <option value=""></option>
                    <option value="Buena actividad física">Buena actividad física</option>
                    <option value="Regular actividad física">Regular actividad física</option>
                    <option value="Mala actividad física">Mala actividad física</option>
                </select>
            </div>


            <div class="col-sm-6">
                <label for="lastName" class="form-label">Antecedentes médicos</label>
                <input type="text" class="form-control" name="antMed" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>


            <div class="col-sm-6">
                <label for="lastName" class="form-label">Antecedentes patológicos</label>
                <input type="text" class="form-control" name="antPad" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>


            <div class="col-sm-6">
                <label for="lastName" class="form-label">Diágnostico anterior</label>
                <input type="text" class="form-control" name="diagAnt" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>


            <div class="col-sm-6">
                <label for="lastName" class="form-label">Medicación anterior</label>
                <input type="text" class="form-control" name="medAnt" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>


            <div class="col-sm-6">
                <label for="lastName" class="form-label">Alergias</label>
                <input type="text" class="form-control" name="alergias" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="country" class="form-label">Género</label>
                <select class="form-select" name="genero" required ngModel>
                    <option value=""></option>
                    <option value="Hombre">Masculino</option>
                    <option value="Mujer">Femenino</option>
                </select>
            </div>

            <div class="col-sm-12">
                <label for="lastName" class="form-label">Clave del expediente</label>
                <input type="text" class="form-control" name="clave" required ngModel>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">Aceptar</button>
                <a (click)="regresar()" class="btn btn-primary" role="button">Regresar</a>
            </div>
        </div>
    </form>
</div>