<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/hospital.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #frmSignup="ngForm" (ngSubmit)="onSignup(frmSignup)">
        <input type="text" class="fadeIn second" name="nombre" placeholder="Nombre" required ngModel>
        <input type="password" class="fadeIn third" name="password" placeholder="Contraseña" required ngModel>
        <input type="email" class="fadeIn third" name="correo" placeholder="Correo Electrónico" required ngModel>
        <br>
        <input type="radio" class="fadeIn third" name="role" value="DOCTOR_ROLE" ngModel>
        <label class="fadeIn third" for="Puesto">
            Doctor
        </label>
        <br>
        <input type="radio" class="fadeIn third" name="role" value="ENF_ROLE" ngModel>
        <label class="fadeIn third" for="Puesto">
            Enfermero
        </label>
        <br>
        <input type="submit" class="fadeIn fourth" value="Registrarse">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/home">Regresar</a>
      </div>
  
    </div>
  </div>